//- section.breadcrumbs-section
//-     ul.breadcrumbs
//-         li.breadcrumbs-item 
//-             a(href="index.html") Adomo
//-         //- li.breadcrumbs-item 
//-         //-     a(href="") Аккумуляторные инструменты
//-         li.breadcrumbs-item.active 
//-             span Сантехнические работы
