section.pagination-section
    //- .container
    //-     ul.pagination   
    //-         li.pagination-item.pagination-prev
    //-             a(href="") Назад
    //-         li.pagination-item.active 
    //-             a(href="") 1
    //-         li.pagination-item 
    //-             a(href="") 2
    //-         li.pagination-item 
    //-             a(href="") 3 
    //-         li.pagination-item.pagination-fake
    //-             a(href="javascript:;") ...
    //-         li.pagination-item 
    //-             a(href="") 25
    //-         li.pagination-item.pagination-next
    //-             a(href="") Вперед