
-
    var status = [
        {
            color:"green",
            text:"Есть на складе"
        },
        {
            color:"red",
            text:"Нет на складе"
        },
        {
            color:"yellow",
            text:"Под заказ"
        },
        {
            color:"grey",
            text:"Снят с производства"
        },
    ]
-
    var treesCategories = [
        "Литые",
        "Комби",
        "Леска",
        "Пленка",
    ]
-
    var menu = [
        {
            name:"Ёлки",
            submenu:[
                {
                    name:"Литые",
                    list:[
                        "Люкс",
                        "Голубая Элит",
                        "Премиум",
                        "Царская",
                        "Канадская"
                    ]
                },
                {
                    name:"Комби",
                    list:[
                        "Рождественская LED",
                        "Альпийская",
                        "Венеция",
                        "Сказка",
                        "Грация",
                    ]
                },
                {
                    name:"Леска",
                    list:[
                        "Микс",
                        "Распушена",
                    ]
                },
                {
                    name:"Пленка",
                    list:[
                        "Классика"
                    ]
                },
            ]
        },
        {
            name:"Уличные Аксессуары",
            submenu:[]
        },
        {
            name:"Акции",
            submenu:[]
        }
        
    ]
-
    var accessoriesCategories = [
        {
            name:"Новогодние игрушки",
            img:"./images/accessor-1.png"
        },
        {
            name:"Подставки",
            img:"./images/accessor-2.png"
        },
        {
            name:"Электрогирлянды",
            img:"./images/accessor-3.png"
        },
        {
            name:"Изделия из хвои",
            img:"./images/accessor-4.png"
        }
    ]
-
    var material = [
        "Литой пластик",
        "Пленка",
        "Моноволокно (леска)"
    ]
-
    var height = [
        "150",
        "180",
        "200"
    ]
-
    var color = [
        "Зеленый",
        "Голубой"
    ]
    
-
    var help = [
        "Оптовикам",
        "Дропшиппинг",
        "Статьи и обзоры"
    ]