script(src="./js/jquery-3.4.1.min.js")
// для меню и фильтра
script(src="./js/gsap.min.js")
// для слайдера
script(src="./js/swiper.min.js")
// для таймера
script(src="./js/jquery.countdown.min.js")
// для фильтра где цена
script(src="./js/jquery-ui.min.js")
script(src="./js/jquery.ui.touch-punch.min.js")
// для галереи
script(src="./js/jquery.fancybox.min.js")
// Custom js
