// для галереи
link(rel="stylesheet", href="./css/jquery.fancybox.min.css")
// для фильтра
link(rel="stylesheet", href="./css/jquery-ui.min.css")
// для слайдера
link(rel="stylesheet", href="./css/swiper.min.css")
// custom css
link(rel="stylesheet", href="./css/style.css")

